.env
/bin/
*.exe
.vscode/
*.out
config.yaml
headscale-config.yaml
.tfvars

.env
.DS_Store
.vscode/
.terraform.lock.hcl
.terraform.tfvars
.terraform

.terraform/


*.tfstate
*.tfstate.backup
terraform.tfstate.1764782317.backup

crash.log
crash.*.log


*.tfvars
*.tfvars.json


override.tf
override.tf.json
*_override.tf
*_override.tf.json


*.tfplan


*.terraformrc
terraform.rc
.terraform.tfstate.lock.info



/volume/


.aws/
*.pem
*.key
!example.tfvars
EOF
